html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: var(--main-bg-color) var(--main-bg-image) no-repeat var(--main-bg-position);
    background-size: cover;
    color: var(--main-color);
    font-family: var(--main-font-family);
}

a {
    color: inherit;
}