.masthead {
    display: flex;
    align-items: center;

    &__image {
        margin-inline-end: 1em;
    }

    &__title {
        margin: 0;
        flex-grow: 1;
        line-height: 1.1;
    }
}
