.history {
    max-width: 282px;
    margin: 0 auto;
}

.history__row {
    margin: 0.25em 0;
    font-family: var(--monospace-font-family);
}

.history__item {
    margin: 0 0.125em;
}

.history__item--correct {
    color: var(--history-correct-color);
}

.history__item--wrong {
    color: var(--history-wrong-color);
}