.site {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 40em;
    min-height: 100vh;
}

.site__header {
    flex: none;
}

.site__main {
    flex: auto;
}

.site__footer {
    flex: none;
    padding: 1.6em 0;
    font-size: 0.625em;
    text-align: center;
    color: var(--footer-color);

    p {
        margin: 0.8em 0;
    }
}