.math {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 0.5em;

    @media screen and (min-width: "30em") {
        justify-content: flex-start;
    }
}

.math__num {
    border: 1px solid var(--input-border-color);
    padding: 0.46875em 0.125em;
    width: 2.125em;
    font-size: 2em;
    font-weight: bold;
    font-family: var(--monospace-font-family);
    background: transparent;
    color: var(--main-color);
    text-align: center;

    &:disabled {
        border-color: var(--input-disabled-border-color);
    }
}

.math__sign {
    font-size: 2.4em;
}

.math__btn {
    margin: 1em 0;
    border: 0;
    padding: 0.5em;
    width: 100%;
    font-size: 1.25em;
    line-height: 1.2;
    grid-column-start: span 5;
}