.progress {
    display: block;
    width: 100%;
    height: 2px;
    border: none;
    background: var(--progress-bar-color);
    appearance: none;
    color: var(--progress-bar-value-color);

    &::-webkit-progress-bar {
        background: transparent;
    }

    &::-webkit-progress-value {
        background: var(--progress-bar-value-color);
    }

    &::-moz-progress-bar {
        background: var(--progress-bar-value-color);
    }

    &::-ms-fill {
        background: var(--progress-bar-value-color);
    }

    &::after {
        content: attr(value) " / " attr(max);
        font-size: 0.625em;
        color: var(--main-color);
    }

}