.progress {
    display: block;
    width: 100%;
    height: 2px;
    background: none;

    &::-webkit-progress-bar {
        background-color: var(--progress-bar-color);
    }

    &::-webkit-progress-value {
        background-color: var(--progress-bar-value-color);
    }

    &::after {
        content: attr(value) " / " attr(max);
        font-size: 0.625em;
    }

}