.score {
    margin: 0.5em 0;
    display: grid;
    grid-template-columns: auto max-content max-content;
    grid-gap: 0.5em;
    justify-content: end;
}

.score__item {
    font-family: var(--monospace-font-family);
}

.score__item--ok {
    color: var(--score-positive-color);
}

.score__item--wrong {
    color: var(--score-negative-color);
}