:root {
    --main-front-color: #fff;
    --main-back-color: #1a1a1a;
    --main-back-url: url("../images/bg.webp");
    --main-back-position: left center;
    --main-font-family: Arial, Helvetica, sans-serif;

    --progress-bar-color: rgba(255, 255, 255, 0.1);
    --progress-bar-value-color: #32cd32;

    --score-positive-color: #32cd32;
    --score-negative-color: #dc143c;
}