:root {
    --main-bg-gradient-start: #000;
    --mani-bg-gradient-end: transparent;
    --main-bg-color: #1a1a1a;
    --main-bg-image: url("../images/bg.webp");
    --main-color: #fff;
    --main-font-family: Arial, Helvetica, sans-serif;
    --monospace-font-family: "Courier New", Courier, monospace;

    --progress-bar-color: rgba(255, 255, 255, 0.1);
    --progress-bar-value-color: #adff2f;

    --score-positive-color: #adff2f;
    --score-negative-color: #ff4500;

    --history-positive-color: #adff2f;
    --history-negative-color: #ff4500;

    --input-border-color: #c0c0c0;
    --input-disabled-border-color: #696969;

    --footer-color: #fff8dc;
}